<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static%}
    <link rel="stylesheet" href="{% static 'login_reg_app/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Login and Registration</title>
</head>
<body>
    <div class="wrap">
        <h1 class="mb-4">Login and Registration</h1>
        <hr>
        <div class="card-group">
            <div class="card border-0 mr-5">
                <div class="card-body">
                    <h4 class="card-title">Register Here!</h4>
                    {% for msg in messages %}
                        {% if 'reg_main' in msg.extra_tags %}
                        <small class="text-danger mb-3 ml-1 row">{{msg}}</small>
                        {% endif %}
                    {% endfor %}
                    <hr>
                    <form action='/register' method='post'>
                        {% csrf_token %}
                        <div class="form-group col">
                            <label for="first_name">First Name:</label>
                            {% for msg in messages %}
                                {% if 'first_name' in msg.extra_tags %}
                                <small class="text-danger mb-3 ml-1 row">{{msg}}</small>
                                {% endif %}
                            {% endfor %}
                            <input class="form-control" type='text' id="first_name" name='first_name'>
                        </div>
                        <div class="form-group col">
                            <label for="last_name">Last Name:</label>
                            {% for msg in messages %}
                                {% if 'last_name' in msg.extra_tags %}
                                <small class="text-danger mb-3 ml-1 row">{{msg}}</small>
                                {% endif %}
                            {% endfor %}
                            <input class="form-control" type='text' id="last_name" name='last_name'>
                        </div>
                        <div class="form-group col">
                            <label for="birthday">Birthday:</label>
                            {% for msg in messages %}
                                {% if 'birthday' in msg.extra_tags %}
                                <small class="text-danger mb-3 ml-1 row">{{msg}}</small>
                                {% endif %}
                            {% endfor %}
                            <input class="form-control" type='date' id="birthday" name='birthday'>
                        </div>
                        <div class="form-group col">
                            <label for="email">Email:</label>
                            {% for msg in messages %}
                                {% if 'email' in msg.extra_tags %}
                                <small class="text-danger mb-3 ml-1 row">{{msg}}</small>
                                {% endif %}
                            {% endfor %}
                            <input class="form-control" type='text' id="email" name='email'>
                        </div>
                        <div class="form-group col">
                            <label for="password">Password:</label>
                            {% for msg in messages %}
                                {% if 'password' in msg.extra_tags %}
                                <small class="text-danger mb-3 ml-1 row">{{msg}}</small>
                                {% endif %}
                            {% endfor %}
                            <input class="form-control" type='password' id="password" name='password'>
                        </div>
                        <div class="form-group col">
                            <label for="confirm_password">Confirm Password:</label>
                            {% for msg in messages %}
                                {% if 'confirm_password' in msg.extra_tags %}
                                <small class="text-danger mb-3 ml-1 row">{{msg}}</small>
                                {% endif %}
                            {% endfor %}
                            <input class="form-control" type='password' id="confirm_password" name='confirm_password'>
                        </div>
                        <hr>
                        <div class="row d-flex mr-1 justify-content-end">
                            <button type="submit" class="form-group row btn btn-success">Register!</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card border-0 ml-5">
                <div class="card-body">
                    <h4 class="card-title">Login Here!</h4>
                    {% for msg in messages %}
                        {% if 'login_main' in msg.extra_tags %}
                        <small class="text-danger mb-3 ml-1 row">{{msg}}</small>
                        {% endif %}
                    {% endfor %}
                    <hr>
                    <form action='/login' method='post'>
                        {% csrf_token %}
                        <div class="form-group col">
                            <label for="email">Email:</label>
                            {% for msg in messages %}
                                {% if 'login_em' in msg.extra_tags %}
                                <small class="text-danger mb-3 ml-1 row">{{msg}}</small>
                                {% endif %}
                            {% endfor %}
                            <input class="form-control" type='text' id="email" name='email'>
                        </div>
                        <div class="form-group col">
                            <label for="password">Password:</label>
                            {% for msg in messages %}
                                {% if 'login_pass' in msg.extra_tags %}
                                <small class="text-danger mb-3 ml-1 row">{{msg}}</small>
                                {% endif %}
                            {% endfor %}
                            <input class="form-control" type='password' id="password" name='password'>
                        </div>
                        <hr>
                        <div class="row d-flex mr-1 justify-content-end">
                            <button type="submit" class="form-group row btn btn-success">Login!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>